<% layout('/layouts/default.html', {title: '商品管理管理', libs: ['validate','fileupload']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header with-border">
			<div class="box-title">
				<i class="fa icon-note"></i> ${text(marketGood.isNewRecord ? '新增商品管理' : '编辑商品管理')}
			</div>
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			</div>
		</div>
		<#form:form id="inputForm" model="${marketGood}" action="${ctx}/market/marketGood/save" method="post" class="form-horizontal">
			<div class="box-body">
				<div class="form-unit">${text('基本信息')}</div>
				<#form:hidden path="id"/>
				<div class="row">
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required hide">*</span> ${text('备注信息')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:textarea path="remarks" rows="4" maxlength="500" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('条码')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="barcode" maxlength="20" class="form-control" id="barCodeFiled" />
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('类型')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:select path="goodType" dictType="market_good_type" blankOption="true" class="form-control" />
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('自编码')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="goodSelfCode" maxlength="20" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('名称')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="goodName" maxlength="100" class="form-control" id="goodName"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('简称')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="goodShortName" maxlength="50" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('单位')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:select path="goodUnit" dictType="market_good_unit" blankOption="true" class="form-control" />
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('标签')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="goodLabel" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('等级')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="goodLevel" maxlength="50" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('货架号')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="goodShelfNo" maxlength="11" class="form-control digits"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('包装规格')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="goodPackagingSpecs" maxlength="255" class="form-control" id="goodPackagingSpecs"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('产地')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="goodOrigin" maxlength="255" class="form-control" id="goodOrigin"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('成本价')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="goodCostPrice" class="form-control number"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('销售价')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="goodSalePrice" class="form-control number" id="goodSalePrice"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('建议价')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="goodSuggestPrice" class="form-control number" id="goodSuggestPrice"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('库存')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="storeCount" maxlength="5" class="form-control digits"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2">
								<span class="required hide">*</span> ${text('图片上传')}：</label>
							<div class="col-sm-10">
								<#form:fileupload id="uploadImage" bizKey="${marketGood.id}" bizType="marketGood_image"
									uploadType="image" class="" readonly="false" preview="true"/>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="box-footer">
				<div class="row">
					<div class="col-sm-offset-2 col-sm-10">
						<% if (hasPermi('market:marketGood:edit')){ %>
							<button type="submit" class="btn btn-sm btn-primary" id="btnSubmit"><i class="fa fa-check"></i> ${text('保 存')}</button>&nbsp;
						<% } %>
						<button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="js.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> ${text('关 闭')}</button>
					</div>
				</div>
			</div>
		</#form:form>
	</div>
</div>
<% } %>
<script>
$("#inputForm").validate({
	submitHandler: function(form){
		js.ajaxSubmitForm($(form), function(data){
			js.showMessage(data.message);
			if(data.result == Global.TRUE){
				js.closeCurrentTabPage(function(contentWindow){
					contentWindow.page();
				});
			}
		}, "json");
    }
});

$("#inputForm").on("change","#barCodeFiled",function () {
	let barCode=this.value;
	if(barCode==null||barCode=="") {
		return;
	}
	document.getElementById("inputForm").reset();
	this.value=barCode;
	if(!isNaN(barCode)){
		$.ajax({
			type:"get",
			url:"${ctx}/market/marketGood/getGoodInfoByBarCode",
			data:"barCode="+$("#barCodeFiled").val(),
			success:function success(data){
				if(data.code!=1)
					return;

				let barcode = data.data.barcode;
				$("#barCodeFiled").val(barcode);
				let goodsName = data.data.goodsName;
				$("#goodName").val(goodsName);
				let price = data.data.price;
				$("#goodSuggestPrice").val(price);
				$("#goodSalePrice").val(price);//销售价
				// let brand = data.data.brand;//品牌
				// $("#goodSuggestPrice").val(brand);//品牌
				// let supplier = data.data.supplier;//厂商
				// $("#goodSuggestPrice").val(supplier);//厂商
				let standard = data.data.standard;
				console.log(price+"=="+standard)
				$("#goodPackagingSpecs").val(standard);
			}
		});
	}

});
</script>