<% layout('/layouts/default.html', {title: '进货管理管理', libs: ['validate','dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header with-border">
			<div class="box-title">
				<i class="fa icon-note"></i> ${text(marketPurchase.isNewRecord ? '新增进货管理' : '编辑进货管理')}
			</div>
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			</div>
		</div>
		<#form:form id="inputForm" model="${marketPurchase}" action="${ctx}/market/marketPurchase/save" method="post" class="form-horizontal">
			<div class="box-body">
				<div class="form-unit">${text('基本信息')}</div>
				<#form:hidden path="id"/>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('订单编号')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="purchaseOrderNo" maxlength="50" class="form-control" readonly="true"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('进货日期')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="purchaseDate" readonly="true" maxlength="20" class="form-control laydate"
									dataFormat="datetime" data-type="datetime" data-format="yyyy-MM-dd HH:mm"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('供应商')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:select path="supplierId" items="${suppliers}" itemLabel="supplierName" itemValue="id"  blankOption="true" blankOptionLabel="请选择" class="form-control " />
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('标签')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="purchaseLabel" maxlength="10" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required hide">*</span> ${text('备注信息')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:textarea path="remarks" rows="4" maxlength="500" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('进货总额')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="totalMoney" class="form-control number"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('付款状态')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:select path="payState" dictType="market_purchase_pay_type" blankOption="true" class="form-control" />
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('付款日期')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="payDate" readonly="true" maxlength="20" class="form-control laydate"
									dataFormat="datetime" data-type="datetime" data-format="yyyy-MM-dd HH:mm"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('应付金额')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="payableMoney" class="form-control number"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('实付金额')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="paidMoney" class="form-control number"/>
							</div>
						</div>
					</div>
				</div>
				<h4 class="form-unit">${text('进货商品管理')}</h4>
				<div class="ml10 mr10">
					<table id="marketPurchaseGoodDataGrid"></table>
					<% if (hasPermi('market:marketPurchase:edit')){ %>
						<a href="#" id="marketPurchaseGoodDataGridAddRowBtn" class="btn btn-primary btn-sm mt10 mb10"><i class="fa fa-plus"></i> ${text('增行')}</a>
					<% } %>
				</div>
			</div>
			<div class="box-footer">
				<div class="row">
					<div class="col-sm-offset-2 col-sm-10">
						<% if (hasPermi('market:marketPurchase:edit')){ %>
							<button type="submit" class="btn btn-sm btn-primary" id="btnSubmit"><i class="fa fa-check"></i> ${text('保 存')}</button>&nbsp;
						<% } %>
						<button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="js.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> ${text('关 闭')}</button>
					</div>
				</div>
			</div>
		</#form:form>
	</div>
</div>
<% } %>
<script>
//初始化进货商品管理DataGrid对象
$("#marketPurchaseGoodDataGrid").dataGrid({

	data: ${toJson(marketPurchase.marketPurchaseGoodList)},
	datatype: "local", // 设置本地数据
	autoGridHeight: function(){return 'auto'}, // 设置自动高度
	
	// 设置数据表格列
	columnModel: [
		{header:'状态', name:'status', editable:true, hidden:true},
		{header:'主键', name:'id', editable:true, hidden:true},
		{header:'条码', name:'goodBarcode', editable:true, hidden:true},
		{header: '${text("商品名称/条码")}', name: 'goodName', width: 300, editable: true, edittype: 'text',editoptions:{'class':'form-control customClick'}},
		{header:'${text("生产日期")}', name:'productDate', width:150,
			formatter:'date', formatoptions:{srcformat:'Y-m-d H:i:s',newformat:'Y-m-d H:i:s'},
			editable:true, edittype:'text', editoptions:{'class':'form-control laydate', 'readonly':'true',
				dataInit: function(element){
					laydate.render({elem:element, type:'datetime', format:'yyyy-MM-dd HH:mm'});
				}
			}
		},
		{header:'${text("进价")}', name:'inPrice', width:150, editable:true, edittype:'text', editoptions:{'class':'form-control number customPrice'}},
		{header:'${text("数量")}', name:'goodNum', width:150, editable:true, edittype:'text', editoptions:{'maxlength':'11', 'class':'form-control digits customNum'}},
		{header:'${text("小计")}', name:'goodCount', width:150, editable:true, edittype:'text', editoptions:{'class':'form-control number customCount'}},
		{header:'${text("付款日期")}', name:'payDate', width:150, 
			formatter:'date', formatoptions:{srcformat:'Y-m-d H:i:s',newformat:'Y-m-d H:i:s'},
			editable:true, edittype:'text', editoptions:{'class':'form-control laydate', 'readonly':'true',
				dataInit: function(element){
					laydate.render({elem:element, type:'datetime', format:'yyyy-MM-dd HH:mm'});
				}
			}
		},
		{header:'${text("成本价格")}', name:'costPrice', width:150, editable:true, edittype:'text', editoptions:{'class':'form-control number'}},
		{header:'${text("销售价格")}', name:'salePrice', width:150, editable:true, edittype:'text', editoptions:{'class':'form-control number'}},
		{header:'${text("会员价格")}', name:'membershipPrice', width:150, editable:true, edittype:'text', editoptions:{'class':'form-control number'}},
		{header:'${text("操作")}', name:'actions', width:80, sortable:false, fixed:true, formatter: function(val, obj, row, act){
			var actions = [];
			if (val == 'new'){
				actions.push('<a href="#" onclick="js.confirm(\'${text("你确认要删除这条数据吗？")}\', function(){$(\'#marketPurchaseGoodDataGrid\').dataGrid(\'delRowData\',\''+obj.rowId+'\')});return false;"><i class="fa fa-trash-o"></i></a>&nbsp;');
			}else{
				actions.push('<a href="#" onclick="js.confirm(\'${text("你确认要删除这条数据吗？")}\', function(){$(\'#marketPurchaseGoodDataGrid\').dataGrid(\'setRowData\',\''+obj.rowId+'\',null,{display:\'none\'});$(\'#'+obj.rowId+'_status\').val(\''+Global.STATUS_DELETE+'\');});return false;"><i class="fa fa-trash-o"></i></a>&nbsp;');
			}
			return actions.join('');
		}, editoptions: {defaultValue: 'new'}}
	],
	
	// 编辑表格参数
	editGrid: true,				// 是否是编辑表格
	editGridInitRowNum: 1,		// 编辑表格的初始化新增行数
	editGridAddRowBtn: $('#marketPurchaseGoodDataGridAddRowBtn'),	// 子表增行按钮
	editGridAddRowInitData: {id: '', status: Global.STATUS_NORMAL},	// 新增行的时候初始化的数据
	
	// 编辑表格的提交数据参数
	editGridInputFormListName: 'marketPurchaseGoodList', // 提交的数据列表名
	editGridInputFormListAttrs: 'status,id,createBy,createDate,updateBy,updateDate,remarks,goodName,productDate,suggestedPrice,inPrice,goodNum,goodCount,payDate,costPrice,salePrice,membershipPrice,goodUnit,marketPurchaseId.id,goodBarcode,', // 提交数据列表的属性字段
	
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>
<script>
$("#inputForm").validate({
	submitHandler: function(form){
		js.ajaxSubmitForm($(form), function(data){
			js.showMessage(data.message);
			if(data.result == Global.TRUE){
				js.closeCurrentTabPage(function(contentWindow){
					contentWindow.page();
				});
			}
		}, "json");
    }
});
//条码搜索事件
$("#marketPurchaseGoodDataGrid").on("change",".customClick",function () {
	let barCode=this.value;
	if(barCode==null||barCode=="")
		return;
	if(!isNaN(barCode)){
		findInfo(barCode,$(this).attr("rowid"));
	}


});
//商品进价改变事件  计算小计
$("#marketPurchaseGoodDataGrid").on("change",".customPrice",function () {
	let rowid=$(this).attr("rowid");
	let goodNum = $("#"+rowid+"_goodNum").val();
	if(goodNum>0&&this.value>0){
		let sum =this.value*goodNum;
		sum = parseInt(sum*100)/100;
		$("#"+rowid+"_goodCount").val(sum);
	}

});
//商品数量改变事件  计算小计
$("#marketPurchaseGoodDataGrid").on("change",".customNum",function () {
	let rowid=$(this).attr("rowid");
	let price=$("#"+rowid+"_inPrice").val();
	if(price>0&this.value>0){
		let sum =price*this.value;
		sum = parseInt(sum*100)/100;
		$("#"+rowid+"_goodCount").val(sum);
	}

});
//定时计算合计
setInterval("sumClick()",500);
var total=0;
//合计方法
function sumClick(){
	let temp=0;
	$("#marketPurchaseGoodDataGrid").find(".customCount").each(function () {
		if(parseFloat(this.value)>0){
			temp+=parseFloat(this.value);
		}
	})
	if(temp!=total){
		total=temp;
		$("#totalMoney").val(total);
		$("#payableMoney").val(total);
		$("#paidMoney").val(total);

	}
	console.log(temp)
}
//根据条码查询物品信息  赋值
function findInfo(barCode,rowId) {
	clearTrData(rowId);//赋值前 清空值
	$.ajax({
		type:"get",
		url:"${ctx}/market/marketGood/getGoodInfoByBarCode",
		data:"barCode="+barCode,
		success:function success(data){
			if(data.code!=1)
				return;
			let barcode = data.data.barcode;
			let goodsName = data.data.goodsName;
			let price = data.data.price;//价格
			$("#"+rowId+"_goodName").val(goodsName);
			$("#"+rowId+"_salePrice").val(price);
			$("#"+rowId+"_goodNum").val(1);
			$("#"+rowId+"_goodBarcode").val(barcode);
		}
	});
}
//清空方法
function clearTrData(rowId) {
	console.log(rowId)
	$("#"+rowId+"_inPrice").val("");
	$("#"+rowId+"_salePrice").val("");
	$("#"+rowId+"_goodNum").val("");
	$("#"+rowId+"_goodBarcode").val("");
	$("#"+rowId+"_goodCount").val("");
}
</script>